@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: url("../asset/city.jpeg");
  object-fit: cover;
}

.form-container {
  width: 90%;
  margin: 3em auto 0 auto;
  border-radius: 7px;
  max-width: 460px;
}

.form-body {
  background-color: rgba(25, 19, 55, 0.7);
  color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  padding-top: 4em;
  border-radius: 7px;
}

.form-title {
  display: flex;
  gap: 0.8em;
  width: 90%;
  margin: 0 auto;
}

.form-title a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.form-title h2 {
  font-size: 1rem;
}

.form-title-selected {
  color: #fff;
  padding-bottom: 0.5px;
  border-bottom: 3px solid #135dda;
}

.form-fields {
  width: 100%;
}

.form-button-container button,
.form-field input {
  all: unset;
  display: block;
  font-weight: bold;
  width: 90%;
  background: rgb(255 255 255 / 20%);
  color: #fff;
  font-size: 0.65rem;
  border-radius: 10px;
  padding: 0.7em 0.6em;
  margin: 0 auto 0.9em auto;
}

.form-button-container button {
  font-weight: bold;
  background: #135dda;
  text-align: center;
  cursor: pointer;
}

.form-field label {
  font-weight: bold;
  display: block;
  font-size: 0.65rem;
  width: 90%;
  margin: 0 auto 0.6em auto;
}

.timeout-option-container {
  display: flex;
  width: 90%;
  align-items: center;
  gap: 0.5em;
  font-size: 0.8rem;
  margin: 1.2em auto;
  font-size: 0.7rem;
  color: #fff;
  font-weight: bold;
}

.login-form-divider {
  width: 90%;
  margin: 3em auto;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
}

.forgot-password-link {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  color: inherit;
  cursor: pointer;
}

.login-form {
  padding-top: 4em;
  padding-bottom: 1.3em;
}

.username-message,
.password-message,
.repeat-password-message,
.email-message,
.submit-message {
  font-size: 0.8rem;
  font-weight: bold;
  color: red;
  width: 90%;
  margin: 0 auto;
  padding-top: 0em;
  padding-bottom: 0.9em;
}

@media (min-width: 460px) {
  .form-field label {
    font-size: 0.8rem;
  }

  .form-button-container button,
  .form-field input {
    font-size: 0.7rem;
    width: 93%;
    border-radius: 15px;
    padding: 0.9em 0.6em;
    margin: 0 auto 0.9em auto;
  }
}

@media (min-width: 690px) {
  body {
    background: rgb(0 0 0 / 15%);
  }

  .form-container {
    background: url("../asset/city.jpeg");
    background-size: cover;
    width: 90%;
    margin: 3em auto 0 auto;
    border-radius: 7px;
    max-width: 460px;
  }
}
